@inject ICsvService _csvService
@inject ITransactionService _transactionService
@inject ILogger<CsvFileInput> _logger
@inject AppState _appState
@inject IStringLocalizer<Localization> Loc
@implements IDisposable

<div class="mb-3">
    <label class="form-label">@Loc[nameof(Localization.RevolutFile)]</label>
    <InputFile class="form-control" OnChange="@LoadFiles" required />
</div>
<button class="btn btn-primary btn-lg" @onclick="SeeResults">
    @Loc[nameof(Localization.SeeResults)]
    @if (_appState.IsCalculatingAnnualReports)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
</button>

@code {
    public Stream? CsvFileStream { get; set; }
    
    protected override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _appState.OnChange -= StateHasChanged;
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        CsvFileStream = e.File.OpenReadStream();
    }

    private async Task SeeResults()
    {
        try
        {
            if (CsvFileStream == null) return;
            _appState.IsCalculatingAnnualReports = true;
            var transactions = await _csvService.ReadCsv(CsvFileStream);
            var annualReports = _transactionService.GetAnnualReports(transactions);
            _logger.LogInformation(LogEvents.GenerateAnnualReports, "Generate annual reports");
            _appState.SetAnnualReports(annualReports);
            _appState.IsCalculatingAnnualReports = false;
            CsvFileStream = null;
        }
        catch (Exception exception)
        {
            _logger.LogError(exception, "something went wrong while reading the stream");
        }
    }
}
