<p class="mt-5">Did I save you time? You can thank me by donating below.</p>
<button type="submit" class="btn btn-primary" onclick="window.open('https://buymeacoffee.com/ulyssetassidis', '_blank')">☕ Buy me a coffee</button>