@inject IStringLocalizer<Localization> Loc

<p class="mt-5">@Loc[nameof(Localization.DonateBelow)]</p>
<button type="submit" class="btn btn-primary" onclick="window.open('https://buymeacoffee.com/ulyssetassidis', '_blank')">@Loc[nameof(Localization.BuyMeACoffee)]</button>