@using System.Globalization

<h3 class="mt-5">Q&A</h3>
<p><strong>
    How do we calculate realized gains?
</strong></p>
<p>
    We are using the Average Cost Basis Method. This is the method required by the <a href="https://www.impots.gouv.fr/particulier/les-cessions-mobilieres">French government</a> for realized gains calculation.
</p>
<p><strong>
    Do you store my trading data?
</strong></p>
<p>
    No, we do not store any personal data, trading data, and do not use cookies.
</p>
<p><strong>
    How can I get my Revolut report in .csv format?
</strong></p>
<p>
    Open your Revolut app and go to the "Stocks" section. Click on the "..." button and select "Statement" > "Account Statement". Choose the Excel format, and choose the dates from June 2017 to @DateTime.Now.ToString("MMMM yyyy", new CultureInfo("en-GB")).
</p>