@inject IStockCsvService CsvService
@inject IStockTransactionService StockTransactionService
@inject ILogger<StockFileInput> Logger
@inject AppState AppState
@inject IStringLocalizer<Localization> Loc

<div class="mb-3">
    <label class="form-label">@Loc[nameof(Localization.RevolutFile)]</label>
    <InputFile class="form-control" OnChange="@LoadFiles" required />
</div>
<button class="btn btn-primary btn-lg" @onclick="SeeResults">
    @Loc[nameof(Localization.SeeResults)]
    @if (AppState.IsCalculatingStock)
    {
        <span class="spinner-border spinner-border-sm ml-5" role="status" aria-hidden="true"></span>
    }
</button>

@code {
    public Stream? CsvFileStream { get; set; }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        CsvFileStream = e.File.OpenReadStream();
    }

    private async Task SeeResults()
    {
        try
        {
            if (CsvFileStream == null) return;
            AppState.IsCalculatingStock = true;
            var transactions = await CsvService.ReadCsv(CsvFileStream);
            var annualReports = StockTransactionService.GetAnnualReports(transactions);
            Logger.LogInformation(LogEvents.GenerateAnnualReports, "Generate annual reports");
            AppState.AnnualReports = annualReports;
            AppState.IsCalculatingStock = false;
            CsvFileStream = null;
        }
        catch (Exception exception)
        {
            Logger.LogError(exception, "something went wrong while reading the stream");
        }
    }
}
