@page "/"
@inject IStringLocalizer<Localization> Loc

<PageTitle>RevoProfit</PageTitle>
<h3 class="mt-5 mb-5">@Loc[nameof(Localization.Subtitle)]</h3>
<CryptoFileInput />
<CryptoResultTable />
<StockFileInput />
<StockResultTable />
<DonateButton />
<QuestionsAndAnswers />
<p class="text-center m-5">@Loc[nameof(Localization.Disclaimer)]</p>
