@page "/"

<PageTitle>RevoProfit</PageTitle>
<h3 class="mt-5 mb-5">Calculate you trading gains or loss on your Revolut Stocks trading account.</h3>
<CsvFileInput />
<AnnualReportsTable />
<DonateButton />
<QuestionsAndAnswers />
<p class="text-center m-5">RevoProfit is not affiliated or associated any way with Revolut™ Ltd. The realized gain calculation is based on the Average Cost methodology. You should consult an accountant to validate the results and make sure they comply with your local tax authority rules.</p>
