@page "/"
@inject IStringLocalizer<Localization> Loc

<PageTitle>RevoProfit</PageTitle>
<h3 class="mt-5 mb-3">@Loc[nameof(Localization.Subtitle)]</h3>
<StockFileInput />
<StockResultTable />
<h1 class="mt-5">WaltProfit</h1>
<h3 class="mt-5 mb-3">Calculez vos gains ou pertes de trading crypto via votre export Waltio.</h3>
<CryptoFileInput />
<CryptoResultTable />
<DonateButton />
<QuestionsAndAnswers />
<p class="text-center m-5">@Loc[nameof(Localization.Disclaimer)]</p>
