@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Result", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        <label for="formFile" class="form-label">Your Revolut export file (.csv)</label>
        <input class="form-control" type="file" name="formFile" id="formFile">
    </div>
    <button type="submit" class="btn btn-primary">See Results</button>
}
